In [1]:
#Ehsan Mokhtari
#Regression learning based on Linear, Ridge, Losso Regressions on Boston.csv famous dataset
import pandas
import numpy
import matplotlib.pyplot as plt

In [2]:
boston = pandas.read_csv("Boston_Housing.csv")

In [3]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [4]:
boston.head(n=10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

In [26]:
#our target value is MEDV and others are predictor values
#using .values returns numpyarray
#not using it returns pandas dataframe
X = boston.drop('MEDV',axis = 1).values
Y = boston['MEDV'].values
print(X.shape,Y.shape)
Y = Y.reshape(-1,1) #in ham mishe ke (506,1) mikone va behtar ham hast
print(X.shape,Y.shape)

(506, 13) (506,)
(506, 13) (506, 1)

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.33,random_state = 42)

In [31]:
regression_model = LinearRegression()
regression_model.fit(X_train,Y_train)

LinearRegression()

In [32]:
regression_model.score(X_test,Y_test)

0.7261570836552486

In [35]:
#regression_model.predict(your array of input x)
Y_pred = regression_model.predict(X_test)

In [39]:
from sklearn.metrics import mean_squared_error
print("R^2: {}".format(regression_model.score(X_test, Y_test)))
rmse = numpy.sqrt(mean_squared_error(Y_test,Y_pred))
print("Root Mean Squared Error: {}".format(rmse))

R^2: 0.7261570836552486
Root Mean Squared Error: 4.552364598463054

In [41]:
#now using k-fold validation for getting low rmse and high score
from sklearn.model_selection import cross_val_score
cross_validation_result = cross_val_score(regression_model,X,Y,cv = 5)

In [42]:
cross_validation_result

array([ 0.63919994,  0.71386698,  0.58702344,  0.07923081, -0.25294154])

In [43]:
#using ridge regression model that also behaves more accurate in much independant variable problems
from sklearn.linear_model import Ridge
ridge = Ridge(alpha=0.1,normalize=True)
ridge.fit(X_train,Y_train)
ridge.score(X_test,Y_test)

0.7150313253804306

In [44]:
#using lasso regression mode
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=0.1, normalize=True)
lasso.fit(X_train, Y_train)
lasso.score(X_test, Y_test)

0.6033355193167744