In [56]:
from sklearn import datasets
import numpy
import pandas
import matplotlib.pyplot as plt

In [57]:
wine_dataset = datasets.load_wine()

In [58]:
wine_dataset.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names'])

In [59]:
wine_data = wine_dataset.data
labels = wine_dataset.target
print(wine_data.shape)
print(wine_dataset.feature_names)

(178, 13)
['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols', 'proanthocyanins', 'color_intensity', 'hue', 'od280/od315_of_diluted_wines', 'proline']

In [63]:
lable_names = []
for i in labels:
    if i==0:
        lable_names.append("wine x")
    elif i==1:
        lable_names.append("wine y")
    else:
        lable_names.append("wine z")

In [64]:
#clustering the data using only KMeans algorithm
from sklearn.cluster import KMeans
kmeans_model = KMeans(n_clusters=3)
kmeans_model.fit(wine_data)
clustered_lables = kmeans_model.predict(wine_data) 
clustered_lables

array([1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
       1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 2,
       2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 2, 0, 2, 0, 0, 2,
       0, 0, 2, 2, 2, 0, 0, 1, 2, 0, 0, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0, 0,
       2, 2, 0, 0, 0, 0, 0, 2, 2, 0, 2, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 2,
       0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0,
       0, 2, 2, 2, 2, 0, 0, 0, 2, 2, 0, 0, 2, 2, 0, 2, 2, 0, 0, 0, 0, 2,
       2, 2, 0, 2, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 0])

In [65]:
ct1 = pandas.crosstab(clustered_lables, df['class'])
ct1

class  wine x  wine y  wine z
row_0
0           0      50      19
1          46       1       0
2          13      20      29

In [66]:
#as u can see, the clustering has lots of lost.for overcoming to this, we usestandardscaler for data standardazation.

In [67]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(wine_data)
StandardScaler(copy=True, with_mean=True,with_std=True)
scaled_wine_data = scaler.transform(wine_data)
kmeans_model.fit(scaled_wine_data)
scaled_clusterd_labels = kmeans_model.predict(scaled_wine_data)
ct = pandas.crosstab(scaled_clusterd_labels, df['class'])
ct

class  wine x  wine y  wine z
row_0
0           0      65       0
1          59       3       0
2           0       3      48

In [68]:
#and here we go!

In [69]:
#more easier way is using pipeline for even less lines of code
from sklearn.pipeline import make_pipeline

scaler2 = StandardScaler()
kmeans2 = KMeans(n_clusters=3)

pipeline = make_pipeline(scaler2,kmeans2)

pipeline.fit(wine_data)
predicted_lables2 = pipeline.predict(wine_data)

ct = pandas.crosstab(predicted_lables2, df['class'])
ct

class  wine x  wine y  wine z
row_0
0           0      65       0
1           0       3      48
2          59       3       0

In [71]:
#as u can see, because every time cluster produces new lable for clusters, the number in table are in diff raws. but u can
#see its accuracy is much more.this is the point.